.Home {
  .bar-filter{
    a{
      float: left;
      color: #A0CAB2;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover{
        color: #A0CAB2;
      }
      &.active{
        color: #fff;
        background-color: #A0CAB2;
        border-radius: 4px;
      }
    }
  }
}

body[is-touch-screen="true"] {
  
}
