.Home {
  .bar-filter {
    button {
      float: left;
      color: #a0cab2;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background: transparent;
      border: none;
      &:hover {
        color: #a0cab2;
      }
      &.active {
        color: #fff;
        background-color: #a0cab2;
        border-radius: 4px;
      }
    }
  }
}

body[is-touch-screen="true"] {
}
