.SelectWLabel {
  margin-bottom: 34px;
  margin-top: 16px;
  .rbt{
    width: 100%;
    input{
      height: 52px;
    }
  }
  &:before {
    content: attr(data-label);
    position: absolute;
    font-size: 16px;
    color: #7b788d;
    left: 0;
    top: 18px;
    padding: 0 5px;
    transition: all 200ms;
    pointer-events: none;
  }

  &:after {
    content: "";
    width: 18px;
    height: 18px;
    right: 0;
    bottom: 12px;
    // background: url("../../../assets/images/arrow_down_gray.svg") transparent
    //   no-repeat center;
    background-size: cover;
    position: absolute;
  }
  &.error{
    input{
    border-color: red !important;
  }
  }
  select {
    background: transparent;
    border: none;
    height: 52px;
    color: #f3f3f3;
    width: 100%;
    padding-right: 20px;
  }
  input{
    border-color: #CFCFE9;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
  }
  label{
    cursor: text;
    font-size: 16px;
    color: #474555;
    top: -19px;
    left: 0 !important;
    transform: translateY(-50%);
    transition: all 200ms ease;
    white-space: nowrap;
    max-width: 100%;
    overflow-x: hidden;
  }
  &.focused {
    border-color: #CFCFE9;

    &:before {
      top: -10px;
      font-size: 10px;
      color: #f3f3f3;
    }

    &:after {
      // background-image: url("../../../assets/images/arrow_down.svg");
    }

    .icon {
      svg {
        path {
          fill: #f3f3f3;
        }
      }
    }
  }

  &[data-w-icon="true"] {
    input {
      width: calc(100% - 24px - 5px);
    }
    label {
      left: calc(24px + 5px);
    }
  }
}
.SelectWLabel[data-error="true"]:after{
  content: attr(data-error-message);
  font-size: 12px;
  font-weight: 700;
  color: #e4221c;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(calc(100% + 2px));
  width: 100%;
}