$bg: #ffffff;

$pri: #474555;
$priLight: #fff7f5;

$sec: #7273CD;
$secDark: #3b3b3b;

$selectionColor: $bg;
$selectionBg: $pri;

$buttonColor: #ffffff;

$priButtonStart: #4ba0ff;
$priButtonEnd: #25c6fc;

$priButtonColor: #44a8ff;

$secButtonStart: $pri;
$secButtonEnd: #feb984;

$dividerColor: #e7e7e7;

$sliderDuration: 6s;

$pagePadding: 25px;
$pagePaddingLg: calc(25px + 15px);

$inputBorderColor: #CFCFE9;
$lightBg: #F5F5FC;