body{
  overflow: auto;
  button:focus, 
  textarea:focus, 
  textarea.form-control:focus, 
  input.form-control:focus, 
  input[type=text]:focus, 
  input[type=password]:focus, 
  input[type=email]:focus, 
  input[type=number]:focus, 
  [type=text].form-control:focus, 
  [type=password].form-control:focus, 
  [type=email].form-control:focus, 
  [type=tel].form-control:focus, 
  [contenteditable].form-control:focus {
    box-shadow: none !important;
  }
  h1 {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 26px;
  }
  h3 {
    font-weight: 700;
    font-size: 16px;
  }
  .fs-12{
    font-size: 12px;
  }
  .fs-16{
    font-size: 16px;
  }
  .fs-24{
    font-size: 24px;
  }
  .mw-300{
    max-width: 300px;
  }
  .mw-400{
    max-width: 400px;
  }
  .cursor-pointer{
    cursor: pointer;
  }
  .link{
    font-size: 16px;
    font-weight: 700;
    color: $sec;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: 0;
    transition:none;
    box-shadow: none !important;
    &:hover{
      color: $sec !important;
    }
  }
  .fs-20{
    font-size: 20px;
  }
  .mh-24{
    max-height: 24px;
  }
  .mh-18{
    max-height: 18px;
  }
  .text-blue{
    color: #7273CD !important;
  }
  .text-pink{
    color: #DD8AB8 !important;
  }
  .pageLoading{
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0.8);
    width: 100%;
    height: 100%;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .left-side-menu{
    background-color: $lightBg;
    a{
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 10px;
      padding:15px 20px;
      white-space: nowrap;
      align-items: center;
      &.active{
        color: $sec;
      }
      img{
        margin-bottom: 2px;
      }
    }
  }
  .react-datepicker-wrapper{
    width: 100%;
  .react-datepicker__input-container{
    input:enabled {border-color: #f3f3f3;
    border: 1px solid #CFCFE9;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
      &.min{
        height: 40px;
      }
  }
  }
}
.border{
  border-color: #CFCFE9 !important;
}
.dropdown-min{
  button{
    padding: 0;
    line-height: 13px;
    background-color: transparent !important;
    border: 0 !important;
    width: 11px;
    height: 11px;
    display: flex;
    margin-top: 6px;
    margin-left: 8px;
    background-size: 11px 11px;
    background-image: url(../assets/images/down.svg);
    &::after{
      content: '';
      border: 0;
    }
  }
  .dropdown-menu{
    padding: 0;
  }
  .dropdown-item{
    padding: 0.75rem 1rem;
    display: flex;
    &:first-child{
      border-bottom: 1px solid #CFCFE9;
    }
  }
}
.discount{
  background: #F1F1FA;
  padding: 13px 50px 13px 23px;
  color: #7273CD;
  font-size: 16px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-right: -20px;
}
@media only screen and (max-width: 960px){
  .discount{
    display: none;
  }
}
.card-title{
  background: #F1F1FA;
  padding:13px 1.25rem;
  margin: 0;
  font-size: 16px;
}
.card-balance{
  display: flex;
  flex-direction: column;
  background: #DD8AB8;
  width: 100%;
  height: 61px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.infinite-scroll-component {
  border: 1px solid #CFCFE9;
  border-radius: 4px;
}
.react-infinite-table {
  position: relative;
  display: flex;
  flex-direction: row;

  .react-infinite-table-wrapper {
    max-height: 100%;
    box-sizing: border-box;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
  }

  .react-infinite-table-scroll-smoother {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
    border: 1px solid #CFCFE9;
    border-radius: 4px;
    overflow: hidden;
    // will-change: transform;
  }

  .react-infinite-prevent-table-fill {
    flex-grow: 1;
  }

  table {
    border-spacing: 0;
    border-collapse: separate;
    table-layout: fixed;
    box-sizing: border-box;
    min-height: 100%;
    margin: 0px;
    max-width: 100%;
    width: auto;
  }

  &.react-infinite-table-fill {
    table {
      width: 100%;
    }
    .react-infinite-table-wrapper {
    }
    .react-infinite-prevent-table-fill {
      flex-grow: 0;
    }
  }

  td, th {
    box-sizing: border-box;
    background: white;

    &.is-fixed-left {
      position: sticky;
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -o-sticky;
      left: 0;
    }
  }

  th {
    z-index: 2;
  }

  td.is-fixed-left {
    z-index: 3;
  }

  th.is-fixed-left {
    z-index: 4;
  }

  th.is-sortable {
    cursor: pointer;
  }

  thead {
    box-sizing: border-box;

    th, td {
      position: sticky;
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -o-sticky;

      top: 0;
      z-index: 2;
    }
  }

  tbody {
    box-sizing: border-box;
  }

  tfoot {
    box-sizing: border-box;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    bottom: 0;
    z-index: 3;

    th, td {
      position: sticky;
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -o-sticky;
      bottom: 0;
      z-index: 3;

      &.is-fixed-left {
        z-index: 4;
      }
    }
  }
  
  th, td {
    &.react-infinite-column-dragging {
      z-index: 6;
    }

    &.react-infinite-column-resize::after {
      content: '';
      position: absolute;
      right: 0px;
      top: 0px;
      bottom: 0px;
      margin-right: -2px;
      width: 4px;
      cursor: col-resize;
    }
  }

  tr.react-infinite-table-loading-no-rows {
    height: fit-content;

    td {
      vertical-align: unset;
      
      > div {
        position: sticky;
        left: 1px;
        width: fit-content;
      }  
    }
  }

  tr.react-infinite-table-spacer {
    td {
      border: none;
      padding: 0px;
      margin: 0px;
    }
  }

  &.react-infinite-table-fix-borders {
    table {
      thead, tbody, tfoot {
        td, th {
          border-left: none;

          &:last-child {
            border-right: none;
          }
        }
      }

      thead, tbody {
        td, th {
          border-top: none;
        }
      }
      tfoot td {
        border-bottom: none;
      }
    }
  }
}
.table-bordered {
  td{
    border: none;
    border-bottom: 1px solid #CFCFE9;
    vertical-align: middle;
    color: #474555;
    font-size: 14px;
  }
  th{
    border: 0;
    background-color: #F1F1FA;
    color: 474555;
    font-size: 16px;
    font-weight: 400;
  }
}
}